.custom-jumbotron {
  padding: 2rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
}
.form-box {
  box-shadow: 0px 0px 15px -5px;
}
.default-layout {
  display: grid;
  grid-template-rows: 80px auto 3rem;
  grid-template-areas:
    "header"
    "main"
    "footer";
}
header {
  grid-area: header;
}
main {
  grid-area: main;
  min-height: 88vh;
}
footer {
  grid-area: footer;
  background: black;
  padding: 1rem;
  color: white;
}
